.create_app_form {
  max-inline-size: var(--main-content-width);
  padding-inline: 16px;

  &__back {
    display: inline-flex;
    align-items: center;
    margin-block-end: 8px;
    padding: 1px 6px;
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    background: var(--bg-primary);
    color: var(--text-color-primary);
    font-weight: 500;
    cursor: pointer;

    svg {
      width: 5px;
      height: 8px;
      margin-inline-start: 0.5rem;
      transform: rotate(180deg);
      path {
        fill: var(--text-color-primary);
      }
    }

    span {
      margin-inline-start: 0.5rem;
      font-size: 12px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__header {
    padding-block-end: 20px;
    color: var(--text-color-primary);
    font-family: var(--font-familly-whyte-medium);
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
  }

  &__description {
    max-inline-size: 600px;
    color: var(--text-color-secondary);
    font-family: var(--font-familly-grotesk);
    font-size: 16px;
  }

  &__steps {
    --gap: 26px;
    --rail: 24px;
    --bullet: 24px;
    --line: #e5e7eb;

    display: grid;
    row-gap: var(--gap);
    padding-block-start: 32px;
    counter-reset: step;
  }

  &__step {
    display: grid;
    grid-template-columns: var(--rail) 1fr;
    gap: 12px;
    align-items: start;
    position: relative;
  }

  &__rail {
    justify-self: center;
    position: relative;
  }

  &__bullet {
    display: grid;
    place-items: center;
    width: var(--bullet);
    height: var(--bullet);
    // border: 2px solid #d0d5dd;
    border-radius: 50%;
    background: var(--bg-secondary);
    color: var(--text-color-tertiary);
  }

  &__title {
    color: var(--text-color-primary);
    font-size: 22px;
    letter-spacing: -1px;
  }

  &__field {
    color: var(--text-color-primary);

    input {
      border-color: var(--border-primary) !important;
      background: transparent !important;
    }
    .primary_input {
      margin-bottom: 0 !important;
    }

    > div:first-child {
      font-size: 14px;
      line-height: 24px;
    }

    > div:last-child {
      display: flex;
      align-items: center;
      font-size: 12px;

      svg {
        margin-inline-end: 0.5em;
        path {
          fill: var(--text-color-primary);
        }
      }
    }
  }

  &__sub_title {
    padding-block-end: 6px;
    color: var(--text-color-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  &__sub_description {
    max-inline-size: 48rem;
    color: var(--text-color-secondary);
    font-size: 14px;
    line-height: 24px;
  }

  &__content {
    display: flex;
    gap: 32px;
    flex-direction: column;
  }

  &__bullet::before {
    content: counter(step);
    font-size: 12px;
    counter-increment: step;
  }

  &__step:not(:last-child)::after {
    content: '';
    width: 1px;
    height: calc(100% + var(--gap) - var(--bullet) - 10px);
    position: absolute;
    top: calc(var(--bullet) + 6px);
    left: calc(var(--rail) / 2);

    background: repeating-linear-gradient(
      to bottom,
      var(--line) 0px,
      var(--line) 3px,
      transparent 3px,
      transparent 6px
    );
    transform: translateX(-50%);
    pointer-events: none;
  }

  &__configuration_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-block-start: 12px;
  }

  &__configuration_button {
    padding-inline: 16px;
    padding-block-end: 6px;
    border: 1px solid var(--border-primary);
    border-radius: 8px;

    &--active {
      border-color: var(--text-color-primary);
    }
  }

  &__product {
    display: flex;
    align-items: center;
    height: 36px;
    border: 1px solid var(--border-primary);
    border-radius: 8px;

    &--active {
      border-color: var(--text-color-primary);
    }

    label {
      font-family: var(--font-family-primary);
      line-height: 12px;
    }
  }

  &__api_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding-block-start: 12px;
  }

  &__label {
    display: flex;
    align-items: center;
    span {
      margin-inline-start: 1rem;
    }

    svg {
      width: 15px;
      height: 15px;
      path {
        fill: var(--text-color-primary);
      }
    }
  }

  &__btn {
    max-inline-size: 11.4rem;
    margin-block-start: 3.2rem;

    button {
      padding-inline: 0.8rem;
      padding-block: 0.8rem;
      color: #fff;
      font-size: 16px;
      letter-spacing: -0.3px;
    }
  }

  &__iteraction {
    color: var(--text-color-tertiary);
    font-size: 14px;

    p {
      padding-block-end: 6px;
      color: var(--text-color-primary);
      font-weight: 400;
      font-family: var(--font-familly-whyte-medium);
      font-size: 16px;
    }

    strong {
      color: var(--text-color-primary);
      text-decoration: underline;
    }
  }
}

:global .dark-theme :local {
  .create_app_form {
    &__steps {
      --line: #717179;
    }
  }
}
