.docs_footer {
  padding-block: 16px;
  border-top: 1px solid var(--border-primary);
  margin-inline: 16px;

  &__bottom {
    padding-block-start: 24px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
  }
}

.helpful_feedback {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--text-color-primary);
  font-weight: 500;
  font-size: 16px;

  svg {
    path {
      fill: var(--text-color-primary);
    }
  }

  >button:last-child {
    svg {
      transform: rotate(180deg) scaleX(-1);
    }
  }
  // div {
  //   display: flex;
  //   gap: 6px;
  //   align-items: center;
  //   padding: 6px 8px;
  //   border-radius: 6px;
  //   background-color: var(--bg-secondary);
  //   font-size: 12px;
  // }
}

.support {
  display: flex;
  flex-direction: column;
  color: var(--text-color-tertiary);

  >div {
    display: flex;
    gap: 6px;
    align-items: center;
  }
}

.newsletter_signup {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--text-color-primary);

  &__input {
    padding: 12px 8px;
    border: 1px solid var(--border-primary);
    background: var(--bg-primary);
    color: var(--text-color-tertiary);
    border-radius: 6px;

    &::placeholder {
      color: var(--text-color-tertiary);
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__label {
    color: var(--text-color-primary);
  }

  &__field {
    display: flex;
    gap: 8px;
  }

  &__input {
    flex: 1;
  }

  &__btn {
    margin-inline-end: 3px;
    padding: 11px 18px;
    border: none;
    border-radius: 6px;
    background: #fff;
    color: #000;
    font-weight: 500;
    font-size: 1.6rem;
    cursor: pointer;
  }
}
