.api_sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--font-familly-whyte);

  &__search {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 6px;
    border: 1px solid var(--border-primary);
    border-radius: 4px;
    color: var(--text-color-primary);
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;

      path {
        fill: var(--text-color-primary);
      }
    }

    span {
      margin-left: auto;
      padding: 0 2px;
      border: 1px solid var(--border-primary);
      border-radius: 4px;
      background-color: var(--bg-secondary);
      font-size: 14px;
    }
  }

  &__container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 16px;
    position: sticky;
    top: 0;
  }

  &__section {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;

    &--active {
      background: var(--bg-secondary);
      color: var(--text-color-primary);

      svg {
        path {
          fill: var(--text-color-primary);
        }
      }
    }

    &--title {
      display: flex;
      gap: 6px;
      align-items: center;
      width: 100%;
      padding-inline: 8px;
      padding-block: 4px;
      color: var(--text-color-primary);

      svg {
        path {
          fill: var(--text-color-primary);
        }
      }
    }

    &--doc {
      width: 100%;
      padding-inline: 8px;
      padding-block: 4px;
      border-radius: 4px;

      &:hover {
        background: var(--bg-secondary);
      }

      a {
        display: block;
        width: 100%;
        color: var(--text-color-tertiary);
      }
    }
  }

  &__bottom_link {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    color: var(--text-color-primary);
    cursor: pointer;
    svg {
      path {
        fill: var(--text-color-primary);
      }
    }
  }

  &__actions {
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    padding-inline: 8px;
    padding-block: 8px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--border-primary);
    color: var(--theme-mode-text-secondary);
  }
}
