.inline_code {
  border: 1px solid var(--border-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  color: var(--text-color-tertiary);
  padding: 6px 8px;

  svg {
    display: flex;
    align-items: center;
    cursor: pointer;
    path {
      fill: var(--text-color-primary);
    }
  }
}
