.switcher {
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 14px;
    border: 1px solid var(--border-primary);
    border-radius: 50%;

    svg {
      width: 10px;
      height: 10px;
    }
  }
}
