.home_intro {
  display: flex;
  gap: 30px;
  flex-direction: column;

  h1 {
    padding-block-start: 6px;
    color: var(--text-color-primary);
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.2px;
  }

  &__description {
    width: 100%;
    max-width: 600px;
    color: var(--text-color-secondary);
    font-family: var(--font-familly-grotesk);
    font-size: 16px;
  }

  &__btns {
    display: flex;
    gap: 13px ;
    padding-block: 6px 0;

    button {
      padding-inline: 18px;
      padding-block: 10px;
      font-size: 14px;
      border-radius: 4px;
      letter-spacing: 0.5px;
      text-transform: inherit;
    }
  }
}
