@font-face {
  font-family: 'whyte_regular';
  src: url('../../assets/fonts/whyte/Whyte-Regular.woff') format('woff'),
    url('../../assets/fonts/whyte/Whyte-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'whyte_inktrap_regular';
  src: url('../../assets/fonts/whyte-inktrap/WhyteInktrap-Regular.woff') format('woff'),
    url('../../assets/fonts/whyte-inktrap/WhyteInktrap-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'space-grotesk-light';
  src: url('../../assets/fonts/space-grotesk/SpaceGrotesk-Light.woff') format('woff'),
    url('../../assets/fonts/space-grotesk/SpaceGrotesk-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'space-grotesk-regular';
  src: url('../../assets/fonts/space-grotesk/SpaceGrotesk-Regular.woff') format('woff'),
    url('../../assets/fonts/space-grotesk/SpaceGrotesk-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'space-grotesk-medium';
  src: url('../../assets/fonts/space-grotesk/SpaceGrotesk-Medium.woff') format('woff'),
    url('../../assets/fonts/space-grotesk/SpaceGrotesk-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'space-grotesk-bold';
  src: url('../../assets/fonts/space-grotesk/SpaceGrotesk-Bold.woff') format('woff'),
    url('../../assets/fonts/space-grotesk/SpaceGrotesk-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'space-grotesk-semibold';
  src: url('../../assets/fonts/space-grotesk/SpaceGrotesk-SemiBold.woff') format('woff'),
    url('../../assets/fonts/space-grotesk/SpaceGrotesk-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
